.pk-clubK {
    width: 120px; height: 170px;
    background: url('21.png') -10px -10px;
}
.pk-heartK {
    width: 120px; height: 170px;
    background: url('21.png') -130px -10px;
}
.pk-diamondK {
    width: 120px; height: 170px;
    background: url('21.png') -250px -10px;
}
.pk-spadeK {
    width: 120px; height: 170px;
    background: url('21.png') -370px -10px;
}
.pk-clubQ {
    width: 120px; height: 170px;
    background: url('21.png') -10px -189px;
}
.pk-diamondQ {
    width: 120px; height: 170px;
    background: url('21.png') -130px -189px;
}
.pk-heartQ {
    width: 120px; height: 170px;
    background: url('21.png') -250px -189px;
}
.pk-spadeQ {
    width: 120px; height: 170px;
    background: url('21.png') -370px -189px;
}
.pk-clubJ {
    width: 120px; height: 170px;
    background: url('21.png') -10px -368px;
}
.pk-diamondJ {
    width: 120px; height: 170px;
    background: url('21.png') -130px -368px;
}
.pk-heartJ {
    width: 120px; height: 170px;
    background: url('21.png') -250px -368px;
}
.pk-spadeJ {
    width: 120px; height: 170px;
    background: url('21.png') -370px -368px;
}
.pk-heartA {
    width: 120px; height: 170px;
    background: url('21.png') -10px -547px;
}
.pk-clubA {
    width: 120px; height: 170px;
    background: url('21.png') -130px -547px;
}
.pk-diamondA {
    width: 120px; height: 170px;
    background: url('21.png') -250px -547px;
}
.pk-spadeA {
    width: 120px; height: 170px;
    background: url('21.png') -370px -547px;
}
.pk-diamond10 {
    width: 120px; height: 170px;
    background: url('21.png') -10px -726px;
}
.pk-spade10 {
    width: 120px; height: 170px;
    background: url('21.png') -130px -726px;
}
.pk-heart10 {
    width: 120px; height: 170px;
    background: url('21.png') -250px -726px;
}
.pk-club10 {
    width: 120px; height: 170px;
    background: url('21.png') -370px -726px;
}
.pk-diamond9 {
    width: 120px; height: 170px;
    background: url('21.png') -10px -905px;
}
.pk-heart9 {
    width: 120px; height: 170px;
    background: url('21.png') -130px -905px;
}
.pk-club9 {
    width: 120px; height: 170px;
    background: url('21.png') -250px -905px;
}
.pk-spade9 {
    width: 120px; height: 170px;
    background: url('21.png') -370px -905px;
}
.pk-spade8 {
    width: 120px; height: 170px;
    background: url('21.png') -10px -1084px;
}
.pk-club8 {
    width: 120px; height: 170px;
    background: url('21.png') -130px -1083px;
}
.pk-heart8 {
    width: 120px; height: 170px;
    background: url('21.png') -250px -1083px;
}
.pk-diamond8 {
    width: 120px; height: 170px;
    background: url('21.png') -370px -1082px;
}
.pk-diamond7 {
    width: 120px; height: 170px;
    background: url('21.png') -10px -1263px;
}
.pk-heart7 {
    width: 120px; height: 170px;
    background: url('21.png') -130px -1261px;
}
.pk-club7 {
    width: 120px; height: 170px;
    background: url('21.png') -250px -1261px;
}
.pk-spade7 {
    width: 120px; height: 170px;
    background: url('21.png') -370px -1260px;
}
.pk-spade6 {
    width: 120px; height: 170px;
    background: url('21.png') -10px -1440px;
}
.pk-club6 {
    width: 120px; height: 170px;
    background: url('21.png') -130px -1438px;
}
.pk-heart6 {
    width: 120px; height: 170px;
    background: url('21.png') -250px -1440px;
}
.pk-diamond6 {
    width: 120px; height: 170px;
    background: url('21.png') -370px -1438px;
}
.pk-diamond5 {
    width: 120px; height: 170px;
    background: url('21.png') -10px -1620px;
}
.pk-heart5 {
    width: 120px; height: 170px;
    background: url('21.png') -130px -1617px;
}
.pk-club5 {
    width: 120px; height: 170px;
    background: url('21.png') -250px -1618px;
}
.pk-spade5 {
    width: 120px; height: 170px;
    background: url('21.png') -370px -1616px;
}
.pk-spade4 {
    width: 120px; height: 170px;
    background: url('21.png') -10px -1798px;
}
.pk-club4 {
    width: 120px; height: 170px;
    background: url('21.png') -130px -1795px;
}
.pk-heart4 {
    width: 120px; height: 170px;
    background: url('21.png') -250px -1795px;
}
.pk-diamond4 {
    width: 120px; height: 170px;
    background: url('21.png') -370px -1793px;
}
.pk-diamond3 {
    width: 120px; height: 170px;
    background: url('21.png') -10px -1975px;
}
.pk-spade3 {
    width: 120px; height: 170px;
    background: url('21.png') -130px -1972px;
}
.pk-club3 {
    width: 120px; height: 170px;
    background: url('21.png') -250px -1973px;
}
.pk-heart3 {
    width: 120px; height: 170px;
    background: url('21.png') -370px -1971px;
}
.pk-spade2 {
    width: 120px; height: 170px;
    background: url('21.png') -10px -2155px;
}
.pk-club2 {
    width: 120px; height: 170px;
    background: url('21.png') -130px -2151px;
}
.pk-diamond2 {
    width: 120px; height: 170px;
    background: url('21.png') -250px -2152px;
}
.pk-heart2 {
    width: 120px; height: 170px;
    background: url('21.png') -370px -2150px;
}